.header {
  margin-bottom: 4em;
  padding: 2em 0;
  border-bottom: 3px solid #eee;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1 50%;
}

.right {
  flex: 2 100%;
}

.skipNav {
  background: #fff;
  top: 6px;
  left: 6px;
}
