{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ], [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "admin": "./admin",
          "components": "./components",
          "pages": "./pages",
          "posts": "./posts",
          "static": "./static",
          "utils": "./utils"
        }
      }
    ]
  ]
}
