.logoHeader {
  font-size: 48px;
  line-height: 60px;
  font-weight: normal;
  font-family: Lobster, cursive;
  margin: 0;
}

.logo {
  color: var(--color);
  text-decoration: none;
  transition: color 100ms linear;
  border-bottom: none;
  &:active,
  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.dot {
  padding-left: 0.05em;
  color: var(--accent);
}
